.modality {
    border-style: solid;
    border-color: gainsboro;
    padding-left: 3%;
    height: 350px;
    padding-top: 15px;

}


#modality-list {
background-color: gainsboro;
float: left;

}

#modality-concept-message {
    background-color: gainsboro;
    width: 50%;
    margin-left: 153px;
    text-align: center;
  

}

label {
    margin-left: 5px;    
     display: inline-block;
   
}

#modality-refresh {

    float: right;
   margin-right: 25px;
}

.modality-list-btn {
    margin-top: 54px;
}
